.cp {
    padding: 114px 40px 50px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__title {
        width: 50%;
    }

    &__action {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 18px;

        &_btn {
            width: 250px;
        }
    }

    &__content {
        margin-top: 110px;
        width: 100%;

        &_top {
            display: flex;
            gap: 12px;
            margin-bottom: 50px;

            &_item {
                width: 165px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                line-height: 17px;
                color: #fff;
                padding: 6px 4px;
            }

            &_item.red {
                background-color: $red;
            }

            &_item.blue {
                background-color: $blue;
            }

            &_item.orange {
                background-color: #FFAB49;
            }
        }

        &_body {
            width: 100%;
        }
    }
}