.partners {
    padding: 114px 40px 50px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;

    &__title {
        width: 50%;
    }

    &__action {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &_add {
            position: relative;
            padding-left: 80px !important;
            padding-right: 65px !important;
            &:after {
                content: url('../img/add.svg');
                position: absolute;
                top: calc(50% - 12px);
                left: 40px;
            }
        }   
    }

    &__content {
        margin-top: 80px;
        width: 100%;
        font-size: 18px;
        line-height: 25px;

        &_info {
            
        }

        
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 3.5%;

        .partner {

        }
    }
}