@media (max-width: 1200px) {

    .aside {
        width: auto;

        

        &__main {
            padding: 0 11px;

            &_nav {

                &_item {

                    a {
                        svg {
                            margin: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                    
                }
            }
        }

        &__bot {
            display: none;
        }
    }
}