@media (max-width: 1200px) {

    .aside {
        width: auto;

        

        &__main {
            padding: 0 11px;

            &_nav {

                &_item {

                    a {
                        svg {
                            margin: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                    
                }
            }
        }

        &__bot {
            display: none;
        }
    }
}

@media (max-width: 800px) {

    .aside {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
    }
} 