.aside {
    background-color: $blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    // padding-top: 250px;



    &__main {

        &_nav {

            &_item {
                color: #fff;
                line-height: 20px;
                font-weight: 500;
                margin-bottom: 7px;
                padding: 12px 0;
                padding-right: 13px;
                padding-left: 10px;
                max-width: 230px;
                width: 100%;
                display: flex;
                align-items: center;
                @include default-anim;
                border-radius: 5px;

                a {
                    display: flex;
                    align-items: center;
                    @include default-anim;

                    svg {
                        margin-right: 18px;
                    }
                }

                &:hover {
                    background-color: rgba(#fff, .1);
                }
            }

            &_item.active {
                font-weight: 700;
                background-color: rgba(#fff, .1);
                border-right: 4px solid #fff;
            }
        }
    }


    &__bot {
        padding: 18px 12px;
        max-width: 253px;
        width: 100%;
        border-top: 1px solid #C2CFE0;

        color: #fff;

        &_title {
            margin-bottom: 5px;
            font-weight: 700;
        }

        &_tel {
            display: block;
            margin-bottom: 5px;
            
        }

        &_mail {
            display: block;
            
        }
    }



}