#fine-uploader-gallery {
    width: 100%;
    margin-bottom: 50px;

    // .qq-alert-dialog-selector[open] {
    //     width: 100%;
    //     height: 100%;
    //     background-color: #1D327B;
    //     color: #fff;
    // }
    .qq-uploader-selector.active {
        border: none !important;
    }
    .qq-uploader-selector {
        background-color: #fff;
        border: 1px dashed #1D327B;
        min-height: 125px;

        &:before {
            font-size: 16px;
            line-height: 36px;
            top: calc(50% - 18px);
            opacity: 1;
        }
    }

    .qq-alert-dialog-selector[open] {
        border: none !important;
        
        top: calc(50% - 100px);
        left: calc(50% - 150px);
        width: 300px;
        height: 200px;
        max-width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .qq-dialog-message-selector {
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            background-color: #fff;

            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            text-align: center;
            
        }

        .qq-dialog-buttons {
            margin-top: 25px;
            background-color: $blue;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            
            button {
                text-transform: uppercase !important;
                padding: 15px 60px !important;
                color: #fff;
                font-weight: 600;

            }

        }
    }


    .qq-upload-button {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        border: none;
        height: 100%;
        box-shadow: none;
        div {
            display: none;
        }
        input {
            border: none;
            background-color: transparent;
            // opacity: 0;
            // visibility: hidden;
        }
    }


    .qq-upload-list {
        display: flex;
        flex-direction: column;
        overflow: visible !important;
        li {
            display: flex !important;
            align-items: center;
            border: 2px solid #ECECEC !important;
            background-color: transparent !important;
            box-shadow: none !important;
            height: auto !important;
    
            padding: 15px 20px !important;
    
            
    
            
            width: 100%;
            max-width: unset !important;
            margin: 0 !important;
            margin-bottom: 15px !important;


            .qq-btn.qq-upload-cancel-selector.qq-upload-cancel {
                display: block !important;
                background-color: transparent !important;
                // top: calc(50% - 10px);
                // right: 10px;
                padding: 0;
                position: static !important;
                order: 3;

            }
    
            .qq-thumbnail-wrapper {
                height: 25px !important;
                width: 25px !important;
                margin-right: 15px;

                img {
                    height: 24px;
                    width: 24px;
                }
            }

            // .edit_mg {
            //     justify-self: flex-end;
            // }
    
            .qq-file-info {
                padding: 0 !important;
                display: flex !important;
                align-items: center;
                margin: 0 !important;
                flex: 1 0 auto;
                // .qq-edit-filename {
                //     display: none !important;
                // }
                color: $blue !important;
                font-weight: 500 !important;

                .qq-upload-size {
                    display: none;
                }
                .qq-upload-file {
                    margin: 0;
                }
                div {
                    
                }
            }
    
    
            .qq-upload-status-text {
                display: none !important;
            }
    
            .qq-upload-retry {
                display: none !important;
            }
    
            .qq-upload-cancel {
                display: none !important;
            }
        }
    }
}