.input.error {

    input {
        border-color: $red !important;
    }

    .message {
        display: block;
    }
}

.input {
    position: relative;

    .message {
        display: none;
        position: absolute;
        bottom: -22px;
        font-size: 16px;
        line-height: 18px;
        color: $red;
        left: 0;
    }
    input, select {
        padding: 11px 14px;
        display: block;
        border: 2px solid #ECECEC;
        background-color: #fff;
        width: 100%;

        &:valid {
            background-color: #fff !important;
        }

        // &:invalid {
        //     border-color: $red;
        //     position: relative;
            
        // }

        &:read-only {
            background-color: #ECECEC !important;
            border-color: #ECECEC !important;

        }
    }

    

    &_ex {
        opacity: 0;
        visibility: hidden;
        @include default-anim;
        pointer-events: none;
        font-size: 12px;
        line-height: 16px;
        color: $red;
    }
}



.input.input-after {

    .input-after_wr {
        position: relative;

        span {
            position: absolute;
            top: calc(50% - 12.5px);
            right: 12px;
            font-size: 16px;
            line-height: 25px;

        }

        input {
            padding-right: 40px;
        }
    }
}

.input.invalid {
    
    input {
        border-color: $red;
    }

    &_ex {
        opacity: 1;
        visibility: visible;
        pointer-events: none;
    }
}