.partner {
    padding: 15px 31px;
    background-color: #fff;
    border: 1px solid $gray;
    box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
    height: 381px;
    max-width: 440px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

    .status {
        width: 162px;
        padding: 9px 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
        color:#fff;
        text-transform: uppercase;

        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }

    .status.status_confirmed {
        background-color: $blue;
    }

    .status.status_notconfirmed {
        background-color: $red;
    }


    &__pl {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 193px;
        background-color: $gray;
        // margin-bottom: 50px;
        position: relative;
        &_title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 15px;
        }

        &_nm {  
            line-height: 21px;
        }
    }

    &__values {
        display: flex;
        justify-content: space-evenly;
    }

    &__value {
        
        
        &_num {
            text-align: center;

            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 6px;
        }

        &_name {
            text-align: center;
            line-height: 21px;
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_date {

        }

        &_edit {

        }
    }
}