.select {
    width: 100%;

    .choices {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text;
        &__inner {
            background-color: #fff;
            border: 2px solid #ECECEC;
        }

        &__list {
            // top: calc(100% + 1px);

            
        }

        &__list--dropdown {
            .choices__item--selectable {
                padding: 10px !important;
                // padding-right: 0;
            }
        }
    }

    .choices.is-open.is-focused {

        .choices__inner {
            border-color: $blue;
        }
    }
}