.filter {


    &__content {
        padding-left: 45px;
        overflow-y: scroll;

        &_in {
            max-width: 537px;
            width: 100%;
            

            
        }
    }
}