@media (max-width: 600px) {

    .button {
        font-size: 14px;
        line-height: 17px;
        padding: 15px !important;
    }

    .button-l {
        font-size: 14px;
        line-height: 17px;
        padding: 14px !important;
    }
}