@media (max-width: 800px) {

    .def {


        &__row.btns {

            flex-direction: column;

            .def__row_item {
                width: 100%;

                &:nth-child(1) {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
        }
        &__row {


            &_item {

            }

            &_status {

            }

            &_name {

            }
        }
    }
}

@media (max-width: 600px) {

    .def {

        &__row {
            flex-wrap: wrap;
            margin-bottom: 0;

            
            &_item {
                width: 100% !important;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 17px;

                &_name {
                    font-size: 14px;
                    line-height: 17px;
                }

                &_status {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
}