@media (max-width: 1500px) {
    
    .table {

        &__headrow {

            &_item.l-hide {
                display: none;
            }
            
        }

        &__row {

            &_item.l-hide {
                display: none;
            }
        }
    }
}

@media (max-width: 1200px) {

    .table {

        &__headrow {
    
            &_item.mob-hide {
                display: none;
            }
        }

        &__row_dropdown.active {

            .table__row_item {

                .table__row_item_drop {

                    span {
                        &:nth-child(2) {
                            transform: rotate(0);
                        }
                    }
                }
            }
        }

        &__row {
            &:hover {
                background-color: #fff;

                .table__row_item {
                    button {

                        svg {
                            path {
                                fill: $blue;
                            }
                        }
                    }

                    .name {
                        color: $blue;
                    }
                }
            }
            &_item.mob-hide {
                display: none;
                
            }

            &_item {
                color: #000 !important;

                //MOBILE

                &_drop {
                    display: block;   
                    margin-bottom: 0;
                }

                &_edit {
                    height: 0;
                    overflow: hidden;
                    display: block;
                    box-sizing: content-box;
                    @include default-anim;
                }

                &_mob {
                    height: 0;
                    overflow: hidden;
                    display: block;
                    padding-top: 0;
                    box-sizing: content-box;
                    @include default-anim;
                }

                &_smob {

                    height: 0;
                    display: block;
                    overflow: hidden;
                    @include default-anim;
                    box-sizing: content-box;

                    &_i {
                        margin-bottom: 20px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                
                
            }

            &_item.table__row_item_action {
                display: flex;
                flex-direction: column;
                align-items: center; 
            }
        }
    }
}

@media (max-width: 600px) {
    .table {

        &__headrow.mob-hide-ex {
            display: none;
        }
        &__headrow {
    
            &_item.mob-hide-ex {
                display: none;
            }
        }

        &__row {

            &_item.mob-hide-ex {
                display: none;
            }

            &_item {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }

} 