@media (max-width: 600px) {

    .textarea {
        
        textarea {
            padding: 11px 14px;
            font-size: 12px;
            line-height: 17px;

            &::placeholder {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}